[defaults]
# 將 deprected warning 關閉
deprecation_warnings=False

[ssh_connection]
# 告訴 Ansible 使用系統的 SSH 設定，要寫絕對路徑，~ 可能會處理錯誤
ssh_args = -F /Users/<username>/.ssh/config -o ControlMaster=auto -o ControlPersist=60s
# 開啟 Pipelining 可以加速跳板機的傳輸效率
pipelining = True